<style>   
  .flexbox-container {
  
  }
  .flexbox-item {
    display: flex;
    align-items: center;
    margin:auto;
    gap: 10px;
  }
  .flexbox-header {
    font-size: {{this.labelFontSize}}px;
    text-transform: uppercase;
    font-weight: bold;
  }    
  .flexbox-macro {
    font-size: {{this.labelFontSize}}px;
  }    

  .a{color: #E7484F}
  .b{color: #F68B1D}
  .c{color: #FCED00}
  .d{color: #009E4F}
  .e{color: #00AAC3}
  .f{color:  #732982}

  .container{
    margin-top: 150px;
  }

  .text-center {
    text-align: center;
  }

  .rainbow{
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px; 
    width: {{maxButtonSize}}px;    
  }

  .rainbow-5:hover{
     background-image:     linear-gradient(
        to right, 
        #E7484F,
        #E7484F 16.65%,
        #F68B1D 16.65%,
        #F68B1D 33.3%,
        #FCED00 33.3%,
        #FCED00 49.95%,
        #009E4F 49.95%,
        #009E4F 66.6%,
        #00AAC3 66.6%,
        #00AAC3 83.25%,
        #732982 83.25%,
        #732982 100%,
        #E7484F 100%       
      );
    animation:slidebg 2s linear infinite;
  }

  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

  .follow{
    margin-top: 40px;
  }

  .follow a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }  
</style>  

{{#if this.header}}
  <div class="flexbox-container">
    <div class="flexbox-item">
        <img width="28" height="28" src="{{{this.icon}}}"/>
        <span class="flexbox-header">{{{this.labelText}}}</span>
    </div>        
  </div>
{{else}}
  <div class="flexbox-container">
    <div class="flexbox-item">
        <img width="28" height="28" src="{{{this.icon}}}"/>
        <span class="flexbox-macro rainbow rainbow-5">{{{this.labelText}}}</span>
    </div>        
  </div>
{{/if}}
