<div style="padding: 10px; display: flex; flex-direction: column; gap: 10px; height: 100%;">
    <p>Copy this to your settings:</p>
    <textarea style="width:100%; flex: 1; min-height: 150px; font-family: monospace;">{{text}}</textarea>
    
    <button type="button" data-action="copy">
        <i class="fas fa-copy"></i> Copy to Clipboard
    </button>
</div>