.macro-manager-dialog .window-content, .macro-manager-dialog {
  background: none !important;
  box-shadow: none !important;
}

.macro-manager-dialog .window-title {
  display: none;
}

.macro-manager-dialog .window-header {
  border: none;
}

.macro-manager-dialog .dialog-buttons {
    flex-direction: column;
}